mat-sidenav-container {
  min-height: 100%; // same height as browser window height
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%; // same height as browser window height
}

main {
  flex: 1; // child will set to an equal size inside the container
}
