<mat-sidenav-container hasBackdrop="true" fullscreen>
  <mat-sidenav #sidenav mode="over" position="start">
    <app-layout-sidenav
      [destinations]="destinations"
      [user]="user"
      [sidenav]="sidenav"
    ></app-layout-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="layout">
    <nav *ngIf="user || isUnknownUserAllowedToNavigate">
      <app-layout-nav
        [user]="user"
        [appTitle]="appTitle"
        [destinations]="destinations"
        [sidenav]="sidenav"
      ></app-layout-nav>
    </nav>

    <main class="content">
      <router-outlet></router-outlet>
    </main>

    <footer *ngIf="user || isUnknownUserAllowedToNavigate">
      <app-layout-footer
        [appDescription]="appDescription"
        [appVersion]="appVersion"
      ></app-layout-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
