$nav-height: 44px;

.layout-nav {
  display: flex;
  justify-content: space-between;
  line-height: $nav-height;

  .app-title {
    line-height: $nav-height;
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }
}

.app-brand {
  display: flex;
  flex-direction: row;
  height: $nav-height;

  .app-brand-icon {
    border-radius: 50%;
    object-fit: contain;
  }

  .app-brand-title {
    font-size: 22px;
    font-weight: normal;
    line-height: $nav-height;
  }
}
