.layout-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 39px;

  .app-title {
    line-height: 39px;
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }
}

.app-brand {
  display: flex;
  flex-direction: row;

  img {
    border-radius: 50%;
    height: 39px;
    margin-left: 5px;
    object-fit: cover;
  }

  h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 0 20px 0 5px;
  }
}
