$nav-height: 50px;

.layout-nav {
  display: flex;
  justify-content: space-between;
  line-height: $nav-height - 2px;
  padding: 0 8px;

  .fill-remaining-space {
    flex: 1 1 auto;
  }
}

.app-brand {
  display: flex;
  height: $nav-height;

  .app-brand-icon {
    border-radius: 50%;
    object-fit: contain;
    padding: 2px;
  }

  .app-brand-title {
    font-size: 20px;
    font-weight: normal;
    line-height: $nav-height;
  }
}
