<section class="centred anime-zoom-in">
  <mat-card
    class="p-0 card-alone"
    [ngClass]="{ 'anime-wobble': !!errorMessage }"
  >
    <mat-tab-group mat-stretch-tabs animationDuration="0ms" color="accent">
      <mat-tab i18n-label label="Sign in">
        <ng-template matTabContent>
          <mat-card-content class="m-0 p-16">
            <app-signin-form
              (errorHappens)="onErrorHappens($event)"
            ></app-signin-form>
          </mat-card-content>
        </ng-template>
      </mat-tab>

      <mat-tab i18n-label label="Sign up">
        <ng-template matTabContent>
          <mat-card-content class="m-0 p-16">
            <app-signup-form
              (errorHappens)="onErrorHappens($event)"
            ></app-signup-form>
          </mat-card-content>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

  <p style="margin: 10px;"><b>Test:</b> johndoe / johndoepass</p>
</section>
