.mat-raised-button,
.mat-stroked-button,
.mat-button {
  &.rounded {
    border-radius: 20px;
  }
}

.mat-form-field {
  // prevent mobile browsers to zoom on form field focus
  font-size: 16px !important;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.icon-before {
  mat-icon {
    padding: 0 5px 0 0;
  }
}

.icon-after {
  mat-icon {
    padding: 0 0 0 5px;
  }
}
