// Adjust this to include the pixel amounts you need.
$space-amounts: (0, 2, 5, 10, 15, 20, 40);
$sides: (top, bottom, left, right);

@each $space in $space-amounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

@each $space in $space-amounts {
  .m-#{$space} {
    margin: #{$space}px !important;
  }

  .p-#{$space} {
    padding: #{$space}px !important;
  }
}

@each $space in $space-amounts {
  .m-x-#{$space} {
    margin: 0 #{$space}px !important;
  }

  .p-x-#{$space} {
    padding: 0 #{$space}px !important;
  }

  .m-y-#{$space} {
    margin: #{$space}px 0 !important;
  }

  .p-y-#{$space} {
    padding: #{$space}px 0 !important;
  }
}
