<main style="padding: 15px;">
  <h1 #title i18n="@@title">ng-start</h1>

  <h2 #description i18n="@@description">
    Angular progressive web app starter.
  </h2>

  <br /><br /><mat-divider></mat-divider><br />

  <mat-slide-toggle
    [checked]="isDarkToggled"
    (toggleChange)="toggleDark()"
    i18n-aria-label="@@aria-label-dark"
    aria-label="toggle dark theme"
    i18n="@@dark"
  >
    Dark theme
  </mat-slide-toggle>

  <br /><br /><mat-divider></mat-divider><br />

  <section style="display: flex; flex-wrap: wrap;">
    <button mat-raised-button style="margin: 10px;" class="theme-accent">
      accent default
    </button>
    <button mat-raised-button style="margin: 10px;" class="theme-accent-darker">
      accent darker
    </button>
    <button
      mat-raised-button
      style="margin: 10px;"
      class="theme-accent-lighter"
    >
      accent lighter
    </button>

    <button mat-raised-button style="margin: 10px;" class="theme-primary">
      primary default
    </button>
    <button
      mat-raised-button
      style="margin: 10px;"
      class="theme-primary-darker"
    >
      primary darker
    </button>
    <button
      mat-raised-button
      style="margin: 10px;"
      class="theme-primary-lighter"
    >
      primary lighter
    </button>
    <button mat-raised-button style="margin: 10px;" class="theme-warn">
      warn default
    </button>
    <button mat-raised-button style="margin: 10px;" class="theme-warn-darker">
      warn darker
    </button>
    <button mat-raised-button style="margin: 10px;" class="theme-warn-lighter">
      warn lighter
    </button>
  </section>

  <br /><mat-divider></mat-divider><br />

  <ng-container *ngFor="let language of languages; trackBy: trackByIndex">
    <span *ngIf="language.code !== localeId">
      <a mat-raised-button color="accent" href="../{{ language.code }}/">{{
        language.label
      }}</a>
    </span>
    <a mat-button *ngIf="language.code === localeId">{{ language.label }} </a>
  </ng-container>
</main>
