<section class="centred">
  <mat-card class="p-20 auth-card">
    <ng-container *ngIf="!isDone; else resetPasswordSuccessTemplate">
      <ng-container *ngIf="!isLoading; else loadingTemplate">
        <ng-container
          *ngIf="
            isValidToken;
            then setNewPasswordTemplate;
            else verifyTokenErrorTemplate
          "
        ></ng-container>
      </ng-container>
    </ng-container>
  </mat-card>
</section>

<ng-template #loadingTemplate>
  <mat-spinner color="accent"></mat-spinner>
</ng-template>

<ng-template #setNewPasswordTemplate>
  <mat-card-title i18n>Set your new password</mat-card-title>
  <mat-card-content class="pt-10">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" color="accent" class="form-field">
        <input
          matInput
          formControlName="password"
          [type]="isPasswordHidden ? 'password' : 'text'"
          autocomplete="new-password"
          required
        />
        <mat-label i18n>Password</mat-label>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="isPasswordHidden = !isPasswordHidden"
          [attr.aria-label]="'isPasswordHidden password'"
          [attr.aria-pressed]="isPasswordHidden"
          i18n-aria-label
          aria-label="Toggle password visibility"
        >
          <mat-icon>{{
            isPasswordHidden ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </button>
        <mat-error *ngIf="f.password?.errors?.required" i18n
          >You must fill in this field</mat-error
        >
        <mat-error *ngIf="f.password?.errors?.pattern" i18n
          >Must contain 8+ characters</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent" class="form-field">
        <input
          matInput
          formControlName="confirmPassword"
          [type]="isPasswordHidden ? 'password' : 'text'"
          required
        />
        <mat-label i18n>Confirm password</mat-label>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="isPasswordHidden = !isPasswordHidden"
          [attr.aria-label]="'isPasswordHidden password'"
          [attr.aria-pressed]="isPasswordHidden"
          i18n-aria-label
          aria-label="Toggle password visibility"
        >
          <mat-icon>
            {{ isPasswordHidden ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
        <mat-error *ngIf="f.confirmPassword?.errors?.mustMatch" i18n
          >Passwords doesn't match</mat-error
        >
        <mat-error *ngIf="f.confirmPassword?.errors?.required" i18n
          >You must confirm the password
        </mat-error>
      </mat-form-field>

      <div class="button-group">
        <mat-progress-bar
          *ngIf="isProcessing"
          mode="indeterminate"
          color="accent"
        ></mat-progress-bar>
        <span class="fill-remaining-space"></span>
        <button
          *ngIf="!isProcessing"
          [disabled]="!formGroup.valid"
          mat-raised-button
          class="icon-after rounded"
          color="accent"
          type="submit"
        >
          <span i18n>Submit</span>
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</ng-template>

<ng-template #verifyTokenErrorTemplate>
  <div class="centred">
    <mat-icon class="status-icon">error_outline</mat-icon>
  </div>
  <p class="py-10" i18n>Could not reset your password.</p>
  <p i18n>
    You can request a new verification link if the old one has expired.
  </p>
  <div class="button-group">
    <mat-progress-bar
      *ngIf="isProcessing"
      mode="indeterminate"
      color="accent"
    ></mat-progress-bar>

    <span class="fill-remaining-space"></span>

    <button
      *ngIf="!isProcessing"
      mat-raised-button
      class="icon-after rounded"
      color="accent"
      routerLink="/auth/forgot-password"
    >
      <span i18n>Forgot password</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #resetPasswordSuccessTemplate>
  <div class="centred">
    <mat-icon class="status-icon">done</mat-icon>
  </div>
  <p i18n class="py-10">
    You have just changed your password, you can now authenticate yourself.
  </p>
  <div class="button-group">
    <span class="fill-remain-space"></span>
    <button
      mat-raised-button
      class="icon-after rounded"
      color="accent"
      routerLink="/auth"
    >
      <span i18n>Sign in</span>
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
</ng-template>
