.auth-card {
  max-width: 400px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.status-icon {
  font-size: 75px;
  height: 75px;
  width: 75px;
}

.form-field {
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: space-between;
}
