<button
  *ngIf="user; else notAuthedButtonTemplate"
  mat-raised-button
  class="rounded avatar-after"
  [matMenuTriggerFor]="layoutUserMenu"
  matTooltip="Trigger profile menu"
  i18n-matTooltip
  aria-label="Button that displays a tooltip when focused or hovered over"
  i18n-aria-label="@@button-with-tooltip"
>
  <span>{{ user.username }}</span>
  <img
    src="{{ user.avatar }}"
    default="profile"
    i18n-alt="@@your-avatar"
    alt="Your avatar"
  />
</button>

<mat-menu #layoutUserMenu="matMenu" xPosition="before" class="p-x-20 p-y-10">
  <ng-template matMenuContent>
    <app-layout-user [user]="user" [isCentred]="true"></app-layout-user>
  </ng-template>
</mat-menu>

<ng-template #notAuthedButtonTemplate>
  <a
    mat-raised-button
    class="rounded icon-after"
    routerLink="/auth/signin"
    color="accent"
  >
    <span i18n="@@sign-in">Sign in</span>
    <mat-icon>person</mat-icon>
  </a>
</ng-template>
