@mixin image-input-button($sizeInPixels) {
  border-radius: $sizeInPixels;
  height: $sizeInPixels;
  min-width: unset !important;
  padding: 0;
  width: $sizeInPixels;

  mat-icon {
    font-size: $sizeInPixels/2;
    height: $sizeInPixels/2;
    width: $sizeInPixels/2;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.image-input-button {
  &.rounded {
    border-radius: 50%;
  }

  &.small {
    @include image-input-button(40px);
  }
}

input {
  display: none;
}
