<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" color="accent" class="form-field">
    <mat-label i18n="@@enter-your-identifier">
      Enter your username or email
    </mat-label>
    <input matInput formControlName="identifier" />
    <mat-error
      *ngIf="f.identifier?.errors?.required"
      i18n="@@you-must-enter-a-value"
    >
      You must enter a value
    </mat-error>
    <mat-error
      *ngIf="f.identifier?.errors?.mustNotBeRejected"
      i18n="@@please-check-your-identifier"
    >
      Please check your identifier
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent" class="form-field">
    <input
      matInput
      formControlName="password"
      [type]="isPasswordHidden ? 'password' : 'text'"
    />
    <mat-label i18n="@@enter-your-password">Enter your password</mat-label>
    <button
      type="button"
      *ngIf="!isLoading"
      mat-icon-button
      matSuffix
      (click)="isPasswordHidden = !isPasswordHidden"
      i18n-aria-label="@@toggle-password-visibility"
      aria-label="Toggle password visibility"
    >
      <mat-icon>
        {{ isPasswordHidden ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </button>
    <mat-error
      *ngIf="f.password?.errors?.required"
      i18n="@@you-must-enter-a-value"
    >
      You must enter a value
    </mat-error>
    <mat-error
      *ngIf="f.password?.errors?.mustNotBeRejected"
      i18n="@@please-check-your-password"
    >
      Please check your password
    </mat-error>
  </mat-form-field>

  <div class="button-group">
    <mat-progress-bar
      *ngIf="isLoading"
      mode="indeterminate"
      color="accent"
    ></mat-progress-bar>
    <button
      type="button"
      *ngIf="!isLoading"
      mat-button
      color="accent"
      routerLink="/auth/forgot-password"
      i18n="@@forgot-your-password"
    >
      Forgot your password?
    </button>
    <button
      [disabled]="!formGroup.valid"
      *ngIf="!isLoading"
      mat-raised-button
      class="theme-accent icon-after rounded"
      type="submit"
    >
      <span i18n="@@submit">Submit</span>
      <mat-icon>send</mat-icon>
    </button>
  </div>
</form>
