<section class="centred">
  <mat-card class="p-40 auth-card">
    <ng-container *ngIf="!isLoading; else loadingTemplate">
      <ng-container *ngIf="token; else emailNotConfirmedTemplate">
        <ng-container
          *ngIf="
            user?.isConfirmed;
            then emailConfirmedTemplate;
            else emailConfirmErrorTemplate
          "
        >
        </ng-container>
      </ng-container>
    </ng-container>
  </mat-card>
</section>

<ng-template #loadingTemplate>
  <mat-spinner color="accent"></mat-spinner>
</ng-template>

<ng-template #emailConfirmedTemplate>
  <div class="centred">
    <mat-icon class="status-icon">done</mat-icon>
  </div>
  <p i18n class="py-20">
    Welcome {{ user!.username }} ! Your are now a confirmed user !
  </p>
  <div class="button-group">
    <span class="fill-remain-space"></span>
    <button mat-raised-button class="theme-accent rounded" routerLink="/" i18n>
      Continue
    </button>
  </div>
</ng-template>

<ng-template #emailNotConfirmedTemplate>
  <div class="centred">
    <mat-icon class="status-icon">error_outline</mat-icon>
  </div>
  <p i18n class="pt-20">
    You have not confirmed your email address, verify your inbox and click on
    the link in the email to continue.
  </p>
  <p i18n>
    You can request a new verification link if the old one has expired.
  </p>
  <div class="button-group mt-40">
    <mat-progress-bar
      *ngIf="isProcessing"
      mode="indeterminate"
      color="accent"
    ></mat-progress-bar>

    <span class="fill-remaining-space"></span>

    <button
      *ngIf="!isProcessing"
      mat-raised-button
      class="theme-accent icon-after rounded"
      (click)="onRequestConfirmEmailToken()"
    >
      <span i18n>Resend</span>
      <mat-icon>send</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #emailConfirmErrorTemplate>
  <div class="centred">
    <mat-icon class="status-icon">error_outline</mat-icon>
  </div>
  <p i18n class="py-20">
    Could not confirm your address.
  </p>
  <p i18n>
    You can request a new verification link if the old one has expired.
  </p>
  <div class="button-group">
    <mat-progress-bar
      *ngIf="isProcessing"
      mode="indeterminate"
      color="accent"
    ></mat-progress-bar>

    <span class="fill-remaining-space"></span>

    <button
      *ngIf="!isProcessing"
      mat-raised-button
      class="theme-accent icon-after rounded"
      (click)="onRequestConfirmEmailToken()"
    >
      <span i18n>Resend</span>
      <mat-icon>send</mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #alreadyConfirmedEmailTemplate>
  <div class="centred">
    <mat-icon class="status-icon">done</mat-icon>
  </div>
  <p i18n class="py-20">
    Everything is ready, your email address has already been verified.
  </p>
  <div class="button-group">
    <span class="fill-remain-space"></span>
    <button mat-raised-button class="theme-primary rounded" routerLink="/" i18n>
      Continue
    </button>
  </div>
</ng-template>
