<section class="container">
  <h1 class="mt-20">h1 typography</h1>
  <h2>h2 typography</h2>
  <h3>h3 typography</h3>
  <h4>h4 typography</h4>
  <h5>h5 typography</h5>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores esse ab
    dignissimos ipsa. Ducimus rem assumenda minima sint voluptates ratione,
    consectetur perferendis sed, enim natus animi consequuntur vel soluta autem!
  </p>
  <h2>Palette</h2>
  <button mat-raised-button color="primary" class="m-10">Primary</button>
  <button mat-raised-button color="accent" class="m-10">Accent</button>
  <button mat-raised-button color="warn" class="m-10">Warn</button>
</section>
