<section class="container">
  <h1 class="m-t-20">h1 typography</h1>
  <h2>h2 typography</h2>
  <h3>h3 typography</h3>
  <h4>h4 typography</h4>
  <h5>h5 typography</h5>

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores esse ab
    dignissimos ipsa. Ducimus rem assumenda minima sint voluptates ratione,
    consectetur perferendis sed, enim natus animi consequuntur vel soluta autem!
  </p>
  <h2>Primary</h2>
  <button mat-raised-button class="theme-primary-darker">
    Darker
  </button>
  <button mat-raised-button class="theme-primary">Default</button>
  <button mat-raised-button class="theme-primary-lighter">Lighter</button>
  <mat-divider style="margin: 10px;"></mat-divider>
  <h2>Accent</h2>
  <button mat-raised-button class="theme-accent-darker">Darker</button>
  <button mat-raised-button class="theme-accent">Default</button>
  <button mat-raised-button class="theme-accent-lighter">Lighter</button>
  <mat-divider style="margin: 10px;"></mat-divider>
  <h2>Warn</h2>
  <button mat-raised-button class="theme-warn-darker">Darker</button>
  <button mat-raised-button class="theme-warn">Default</button>
  <button mat-raised-button class="theme-warn-lighter">Lighter</button>
  <mat-divider style="margin: 10px;"></mat-divider>
</section>
