<button
  mat-icon-button
  mat-suffix
  [matMenuTriggerFor]="settingsMenu"
  matTooltip="Trigger settings menu"
  i18n-matTooltip
  matTooltipPosition="below"
  aria-label="Button that displays a tooltip when focused or hovered over"
  i18n-aria-label="@@button-with-tooltip"
>
  <mat-icon>settings</mat-icon>
</button>

<mat-menu #settingsMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="onToggleDarkTheme()">
      <ng-container *ngIf="isDarkThemeToggled; else darkThemeTemplate">
        <mat-icon>wb_sunny</mat-icon>
        <span i18n="@@light-theme">Light theme</span>
      </ng-container>
      <ng-template #darkThemeTemplate>
        <mat-icon>nights_stay</mat-icon>
        <span i18n="@@dark-theme">Dark theme</span>
      </ng-template>
    </button>
    <a mat-menu-item href="../{{ localeId === 'fr' ? 'en-US' : 'fr' }}/">
      <mat-icon>translate</mat-icon>
      <span>{{ localeId === 'fr' ? 'English' : 'Français' }}</span>
    </a>
  </ng-template>
</mat-menu>
